.footerWrapper{
    background-color:#2d2d2d;
    padding:50px 0;
    color:#fff;
    @media (max-width:767px){
        padding:30px 0;
        text-align: center;
    }
    .footerList{
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        margin: 0 -12px 8px;
        padding:0;
        @media (max-width:767px){
            display: block;
        }
        li{
            a{
                line-height: 15px;
                display: inline-block;
                color:#ddd;
                text-decoration: none;
                padding: 0 12px;
                border-right: solid 1px #ddd;
                @media (max-width:767px){
                    border:0;
                    padding: 0 6px;
                }
                &:hover{
                    text-decoration: underline;
                    color: #d1675b;
                }
            }
            &:last-child{
                a{
                    border:0;
                }
            }
        }
    }
    .socialWrapper{
        a{
            display: inline-block;
            margin-right:28px;
            &:last-child{
                margin-right:0;
            }
            img{
                height: 28px;
                opacity: 0.7;
                transition: all 0.3s ease-in-out;
            }
            &:hover{
                img{
                    opacity: 1;
                }
            }
        }
    }
    .storeWrapper{
        text-align: right;
        @media (max-width:767px){
            text-align: center;
            margin-top:30px;
        }
        a{
            display: inline-block;
            margin-right:25px;
            @media (max-width:767px){
                margin: 0 10px;
            }
            @media (max-width:450px){
                margin: 0 6px;
            }
            &:last-child{
                margin-right:0;
            }
            img{
                height: 40px;
                opacity: 0.8;
                transition: all 0.3s ease-in-out;
                @media (max-width:767px){
                    height: 32px;
                }
                @media (max-width:450px){
                    height: 26px;
                }
            }
            &:hover{
                img{
                    opacity: 1;
                }
            }
        }
    }
}