.innerCard{
    display: flex;
    padding: 20px;
    width: 100%;
    text-align: center;
    color: #fff;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 300px;
    border-radius: 6px;
    text-decoration: none;
    background:#000 url('../../../assets/img/icon/video.png') no-repeat scroll center center;
    background-size: 170px auto;
    transition: all 0.3s ease-in-out;
    @media (max-width: 991px) {
        min-height: 250px;
        background:#000 url('../../../assets/img/icon/video.png') no-repeat scroll center center;
        background-size: 120px auto;
    }
    @media (max-width: 767px) {
        min-height: 220px;
    }
    @media (max-width: 575px) {
        min-height: 220px;
        margin-bottom:20px;
    }
    p{
        margin: 0;
    }
    &:hover{
        color: #fff;
        transform: scale(1.02);
    }
}